<div class="container">

  <a routerLink="/new-transition" class="btn btn-outline-primary btn-sm">New Transition</a>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date Time</th>
      <th scope="col">Description</th>
      <th scope="col">Value</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of transitions; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.dateTime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>{{ item.description }}</td>
      <td [ngStyle]="{'color':item.type === 'INCOME' ? 'blue' : 'red'}">{{ item.value | currency:'BRL' }}</td>
      <td>{{ item.type }}</td>
    </tr>
    </tbody>
  </table>
</div>

